html {
    background-color: beige;
}

body {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-family: VT323;
    font-size: 75px;
    text-align: center;
}

h2 {
    font-size: 35px;
    font-family: 'Mukta', sans-serif;
}

p {
    font-size: 25px;
    font-family: 'Barlow', sans-serif;
}

.banner {
    background-image: url("../images/allmight.png");
    height: 325px;
    border: 2px solid #000;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
    margin: 50px;
}

.content-container {
    border: 2px solid #000;
    border-radius: 5px;
    padding: 10px;
    margin: 50px;
}

#red-panel {
    text-align: center;
    display: inline-block;
    width: 30%;
    background-color: #fc0303;
    color: #fff;
    margin: 20px;
}

#white-panel {
    text-align: center;
    display: inline-block;
    width: 30%;
    background-color: #fff;
    color: #000;
    margin: 20px;
}

#yellow-panel {
    text-align: center;
    display: inline-block;
    width: 30%;
    background-color: #fff000;
    color: #000;
    margin: 20px;
}

#blue-panel {
    text-align: center;
    display: inline-block;
    width: 30%;
    background-color: #000fff;
    color: #fff;
    margin: 20px;
}

.font-container {
    text-align: center;
    display: inline-block;
    width: 30%;
}

.font-label {
    text-decoration: underline;
    font-size: 20px;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

#Mukta {
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
}

#Barlow {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
}

#VT323 {
    font-family: 'VT323', sans-serif;
    font-size: 20px;
}

.style1 {
    font-family: 'VT323', sans-serif;
    font-size: 75px;
}

.style2 {
    font-family: 'Mukta', sans-serif;
    font-size: 35px;
    font-weight: 700px;
}

.style3 {
    font-family: 'Barlow', sans-serif;
    font-size: 20px;
    font-weight: 400px;
}